* {
    /* border: 1px solid black; */
}

body {
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}

.body-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 75vw;
}

.background {
    width: min(40vw, 40%);
    height: 100vh;
    /* background-color serves as a fallback when the image fails to load */
    background-color: wheat;
    background-image: url("assets/sign-up-bg.jpg");
    background-size: cover;
    text-align: center;
    color: white;
}

.signup-container {
    width: min(60vw, 60%);
    height: 100vh;
}

.logo-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 20vh;

    height: 10%;
    width: 100%;

    background-color: rgb(0, 0, 0, .3);
    padding: 4rem;
}

.logo img {
    width: 5rem;
    height: 100%;
}

.logo-odin {
    font-size: 5rem;
}

.bg-credit {
    position: relative;
    top: 75vh;
}

fieldset>div {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    gap: 3rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

legend {
    position: absolute;
    top: .5rem;
    left: 1.5rem;
}

legend~div>p {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
}